/* cores */

:root {
  --cinza-claro: #f2f2f2;
  --cinza-escuro: #535353;
  --preto: #171717;
  --azul: #3849ea;
}



<div class="svg1">
<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 28.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1080 1080" style="enable-background:new 0 0 1080 1080;" xml:space="preserve">
  <style type="text/css">
    .st0 {
      fill: none;
      stroke: #3849EA;
      stroke-width: 52;
      stroke-miterlimit: 10;
    }
  </style>
  <g>
    <path class="st0" d="M63.04,35.69c37.5,65.31,30.56,69.3,68.06,134.61s44.44,61.33,81.94,126.64
      c29.95,52.17,61.34,104.15,105.07,144.47c43.75,40.34,98.2,67.46,152.82,92.75c55.88,28.73,46.98,35.85,113.5,54.08
      c38.04,10.43,82.26,9.67,124.98,6.21c30.15-2.44,67.82-9.94,97.73-34.81c25.49-21.2,41.1-54.32,53.58-89.41
      c15.53-43.67,20.73-90.92,5.07-133.09c-15.85-42.66-51.18-75.37-89.67-98.87c-40.46-24.71-81.29-36.48-118.95-32.04
      c-63.22,7.45-110.22,47.05-114.26,49.76c-55.63,37.41-93.6,90.66-110.43,150.71c-19.32,68.97-10.96,141.56-3.64,189.78
      c18.33,120.84,94.04,234.86,219,319.26c99.17,66.98,228.44,110.52,371.6,137.62" />
  </g>
</svg>
</div>

<div class="svg3">
<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 28.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1080 1080" style="enable-background:new 0 0 1080 1080;" xml:space="preserve">
  <style type="text/css">
    .st0 {
      fill: none;
      stroke: #3849EA;
      stroke-width: 52;
      stroke-miterlimit: 10;
    }
  </style>
  <g id="Layer_1">
    <g>
      <path class="st0" d="M1085.06,4.83c-19.34,20.27-52.82,34.72-80.12,62.13c-21.52,21.61-35.62,55.19-61.79,80.39
c-22.68,21.84-56.66,34.72-82.65,58.74c-23.52,21.74-38.95,54.65-65.05,77.79c-47.86,42.45-99.83,68.16-139.11,100.53
c-49.17,40.52-83.93,85.7-124.62,117.96c-46.4,36.79-98.04,60.18-141.07,97.89c-39.73,34.82-70.08,82.77-113.62,128.57
c-22.25,23.4-57.98,41.78-85.43,74.05c-22.22,26.13-34.94,64-59.45,96.17c-21.32,27.98-54.66,50.09-77,82.79
c-20.12,29.45-28.76,68.44-49.19,101.81" />
    </g>
  </g>
  <g id="Layer_2">
  </g>
</svg>
</div>
